MONGO_URI=mongodb+srv://fitdaily_admin:your_password_here@fitdaily-cluster.xxxxx.mongodb.net/fitdaily
JWT_SECRET=your_secret_here
PORT=10000
CLIENT_URL=https://fitdaily.vercel.app
NODE_ENV=production
